{% extends 'base.html.twig' %}

{% block body %}
    <h1>About Mastodon scheduler</h1>
    <p>This website is not an official website, it's an open source tool to schedule your Mastodon toots!</p>
    <p>This app is delivered by <a href="https://mastodon.xyz/@David" target="_blank">David Libeau.</a><br/>
        It is in beta, please <a href="https://github.com/DavidLibeau/mastodon-scheduler/issues" target="_blank">report any bugs</a>.<br/>
        This tools was also published under GPL free license. Feel free to help and improve it <a href="https://github.com/DavidLibeau/mastodon-tools/tree/master/scheduler">on Github</a> !
    </p>
    <h3>Legal terms</h3>
    <p>This software is in beta. It may not work. I cannot guarantee anything. You can test it but you should before check the open sources if any doubt.</p>
    <p>This software does not save your Mastodon password or any private information. It only save an access token. You can revoke the app by going to /oauth/authorized_applications on your Mastodon instance.</p>
    <p>By using it, you agree to the following statement : <br/>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.</p>
    <h4>Legal duty</h4>
    <p>Users of the software are responsible for all published content. The owner of this website don't own any data and is not responsible of any content published.</p>
{% endblock %}
